/* App.css */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
}

.content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
}

.section {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 24%;
}

input[type="text"],
input[type="number"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

button:disabled {
  background-color: #ddd;
  color: black;
}

.nft-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.listBox {
  width: 200px;
  height: 300px;
  box-shadow: 0 0 5px lightgray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
}

.listBox .listImg {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.listBox .listImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.listBox .listTitle {
  width: calc(100% - 10px);
  padding: 3px 3px;
  height: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 16px;
}

.listBox .listRemark {
  width: calc(100% - 10px);
  padding: 0 5px;
  margin:  0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.listBox .listBtnBox {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.listBox .listBtnBox button {
  height: 35px;
  width: 80%;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.listBox .listBtnBox button:disabled {
  background-color: #ddd;
}